html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}


header,
div,
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    box-sizing: border-box;
}

.df {
    display: flex;
}

.width1200 {
    width: 1071px;
    margin: 0 auto;
}

p {
    margin: 0;
    padding: 0;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@font-face {
    font-family: "Source Han Sans CN";
    src: url(../public/font/SourceHanSansCN-Light.ttf);
}

@font-face {
    font-family: "SimHei";
    src: url(../public/font/SimHei.ttf);
}

main {
    background: #F5F5F5;
}

body {
    background: #F5F5F5;

}