.footer {
    width: 100%;
    background: #437DE0;
    padding: 28px 0;
    margin-top: 28px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-left-box p {
    font-size: 18px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}
.footer-left-box :last-child{
    margin-top: 20px;
    font-size: 17px;

}

.footer-right-box {
    text-align: center;
    margin-left: 109px;
}

.footer-right-box img {
    width: 66px;
    height: 68px;
}

.footer-right-box p {
    font-size: 13px;
    font-family: Source Han Sans CN;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
}