@media screen and (max-width: 600px) {
    .width1200 {
        width: 100%;
    }

    body {
        background: #F5F5F5;
    }

    .header {
        padding: 20px 18px 14px 18px;
        padding-bottom: 20px;
        position: relative;
        height: 120px;
    }

    .mobile-right-box {
        display: block !important;
        font-size: 15px;
        font-family: SimHei;
        font-weight: 400;
        color: #575858;
    }

    .mobile-header-logo {
        height: 45px;
    }

    .info p {
        font-size: 12px;
    }

    .main {
        background: #F5F5F5;
        box-sizing: border-box;
        padding: 27px 10px;
        margin-top: 0;
    }

    .header-logo {
        height: 45px;
        display: none;
    }

    .lang-line {
        margin: 0 12px;
    }

    .news-list {
        display: none;
    }

    .lang-line {
        height: 20px;
    }

    .lang-text {
        font-size: 15px;
    }

    .mobile-search-right {
        display: flex;
        align-items: center;
    }

    .mobile-search-right-logo {
        width: 40px;
        height: 30px;
    }

    .mobile-search-right-close {
        width: 25px;
        height: 25px;
    }

    .mobile-search-content {
        display: block !important;
        position: relative;
    }

    .menu-box {
        position: absolute;
        /* height: 300px; */
        width: 100%;
        right: 0;
        z-index: 11;
        background: rgb(0, 0, 0, 0.8);
    }

    .menu-box-item {
        height: 50px;
        padding: 17px 20px;
        color: #fff;
        border-bottom: 1px solid #fff;
    }

    .menu-box-item a {
        display: block;
        width: 100%;
    }

    .search-box-popup {
        position: absolute;
        right: 0;
        z-index: 1;
        width: 100%;
        background: rgb(0, 0, 0, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
    }

    .search-box-input {
        height: 40px;
        background: #FFFFFF;
        border-radius: 5px;
        width: 60%;
        padding: 0 10px;
    }

    .search-btn {
        border-radius: 5px;
        height: 40px;
        background: #3764D2;
        text-align: center;
        width: 20%;
        text-align: center;
        line-height: 40px;
        color: #fff;
        margin-left: 20px;
    }

    .mobile-search-box {
        margin-top: 12.5px;
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }

    .header-body {
        padding: 0;
        padding-bottom: 7px;
        border-bottom: 1px solid #B8B7B7;
    }

    .news-list-box {
        display: none;
    }

    .topic {
        display: block;
    }

    .topic-content p {
        font-size: 15px;
    }

    .slider {
        height: 241px;
    }

    .prev {
        width: 11px;
        height: 12.4px;
        left: 29px;
    }

    .next {
        width: 11px;
        height: 12.4px;
        right: 29px;
    }

    .dots {
        display: none;
    }

    .news-title {
        font-size: 23px;
        position: absolute;
        z-index: 2;
        margin: 0 auto;
        transform: translateX(50%);
        right: 50%;
        top: 14px;
        min-width: 160px;
        text-align: center;
        background: #fff;
    }

    .topic-news-list {
        margin-top: 13px;
    }

    .topic-news-list-item {}

    .news-item-left {
        font-size: 15px;
    }

    .news-item-right {
        font-size: 15px;
    }

    .topic-news {
        width: 100%;
    }

    .about-more {
        font-size: 15px;
        color: #656565;
    }

    .about-more a:hover {
        text-decoration: underline;
        color: #315F9E;
    }

    .topic-box {
        position: relative;
    }

    .topic-line {
        height: 1px;
    }

    .news-tips {
        justify-content: center;
    }

    .news-tips div {
        font-size: 18px;
        font-weight: 400;
    }

    .topic-activity {
        width: 100%;
    }

    .public-box {
        /* justify-content: center; */
        display: block;
        position: relative;
        height: 84px;
    }

    .public-box-text-box {
        position: absolute;
        left: 50px;

    }

    .public-box-text-box div {
        font-size: 20px;
        color: #4C4B4B;
    }

    .public-box-img {
        width: 50px;
        height: 50px;
    }

    .public-line {
        position: absolute;
        left: 50%;
        height: 100%;
        transform: translateX(-50%);
        margin-left: 0px;
        margin-right: 0px;
    }

    .public-text {
        position: absolute;
        font-size: 21px;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .mechanism-list {
        overflow: hidden;
    }

    .mechanism-list img {
        width: 80px;
        height: 50px;
        /* flex-wrap: wrap; */
    }

    .footer-content {
        height: 70px;
        justify-content: space-between;
        padding: 0 18px;
    }

    .footer-right-box {
        margin-right: 0;
        margin-left: 0;
    }

    .footer-right-box img {
        width: 43px;
        height: 44px;
    }

    .footer-left-box p {
        font-size: 12px !important;
    }

    .footer-right-box p {
        font-size: 12px;
    }

    .high-line {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .content-pagination {
        display: none;
    }

    .content {
        width: 100%;
    }

    .first-bar {
        font-size: 15px;
    }

    .nav-bar {
        font-size: 15px;
    }

    .nav-bar:last-child {
        text-decoration: underline;
        color: #315F9E;
    }

    .arrow {
        margin: 0 10px;
    }

    .content-body-new-title {
        display: block !important;
        font-size: 15px;
        font-size: 23px;
        text-align: center;
        font-family: Source Han Sans CN;
        font-weight: 500;
        color: #111111;
    }

    .content-body-news-list {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    .content-body-news-list .item {
        font-size: 18px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #222222;
        margin-top: 12px;
        margin-bottom: 12px;
        position: relative;

    }

    .content-body-news-list .item:first-child {
        margin-right: 34.5px;
    }

    .content-body-news-list .item-active {
        background: none;
        color: #337AB7;
        border-bottom: 1px solid #337AB7;
    }

    .content-body-news-list .item-active::before {
        position: absolute;
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        border-top: 5px solid #337AB7;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid transparent;
    }

    .content-body-title {
        font-size: 15px;
        color: #222222;
    }

    .content-body-time {
        font-size: 15px;
    }

    .content-body-content-title {
        font-size: 23.5px;
        color: #111111;
    }


    .about-me {
        color: #474747;
        font-size: 15px;
    }

    .cooperative {
        flex-wrap: wrap;
    }

    .content {
        background: #fff;
        padding: 20px;
    }

    .content-detail-box-title {
        font-size: 23px;
        color: #111111;
        text-align: left;
        font-weight: 500;
    }

    .content-detail-box-docs {
        font-size: 15px;
        text-align: initial;
    }

    .content-detail {
        margin-top: 30px;
        font-size: 15px;
    }

    .content-body {
        min-height: 500px;
    }

    .content-body .public-box-text-box {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
    }

    /* .search-content {} */
    .content-body-item-line {
        width: 100%;
        height: 1px;
        background: #B0B0B0;
        margin-top: 15px;
        margin-bottom: 40px;
    }

    .search-content {
        padding-left: 10px;
        margin-top: 10px;
    }

    .search-content span {
        color: #B1B0B0;
        font-size: 18px;
    }

    .content-body-item:first-child {
        border-top: 1px solid #B0B0B0;
    }

}