.news-item {
    font-size: 17px;
}

.news-tips div {
    font-size: 17px;
}

.news-title {
    font-size: 17px;
}

.sidebar-title {
    font-size: 17px;
}

.sidebar-title-item {
    font-size: 17px;
}

.first-bar {
    font-size: 20px;
}
.next-page{
    width: 110px;
}