<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yibai joint</title>
    <!-- global css -->
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <!-- header css -->
    <link rel="stylesheet" type="text/css" href="../../css/header.css">
    <!-- slider 轮播图 css -->
    <link rel="stylesheet" type="text/css" href="../../css/index_slider.css">
    <!-- topic 新闻和Important Activity css -->
    <link rel="stylesheet" type="text/css" href="../../css/index_topic.css">
    <!-- footer 底部 css -->
    <link rel="stylesheet" type="text/css" href="../../css/footer.css">
    <!-- english css -->
    <link rel="stylesheet" type="text/css" href="./english_css.css">
</head>

<body>
    <header class="header">
        <div class="header-body width1200">
            <a href="./index.html">
                <img class="header-logo" src="../../public/image/logo.png" alt="" srcset="">
            </a>
            <div class="header-lang-list ">
                <div class="lang-text">EN</div>
                <div class="lang-line"></div>
                <div class="lang-text">简体</div>
                <div class="lang-line"></div>
                <div class="lang-text">繁体</div>
            </div>
        </div>
        <div class="news-list-box width1200">
            <div class="news-list">
                <div class="news-item">
                    <a href="./news_center.html">Press Center</a>
                </div>
                <div class="news-item-line"></div>
                <div class="news-item">
                    <a href="./news_center_activity.html">Important Activity</a>
                </div>
                <div class="news-item-line"></div>
                <div class="news-item">
                    <a href="./Important_news_center.html">Yibai joint news</a>
                </div>
                <div class="news-item-line"></div>
                <div class="news-item">
                    <a href="./cooperative_institution.html">Cooperative Institution</a>
                </div>
                <div class="news-item-line"></div>
                <div class="news-item">
                    <a href="./attention.html">Focus</a>
                </div>
                <div class="news-item-line"></div>
                <div class="news-item">
                    <a href="./member_news_center.html">Member</a>
                </div>
                <div class="news-item-line"></div>
                <div class="news-item">
                    <a href="./about_me.html">About Me</a>
                </div>
            </div>
        </div>
    </header>
    <main class="main width1200">
        <!-- 轮播图 -->
        <div class="slider">
            <div class="slides">
                <div class="slide">
                    <img src="../../public/image/slider.png" alt="Slide 1">
                    <div class="info">
                        <p class="ellipsis">中国国际商会理事会会议在北京举行 任洪斌当选中国国际商会会长</p>
                    </div>
                </div>
                <div class="slide">
                    <img src="../../public/image/slider.png" alt="Slide 2">
                    <div class="info">
                        <p class="ellipsis">中国国际商会理事会会议在北京举行 任洪斌当选中国国际商会会长</p>
                    </div>
                </div>
                <div class="slide">
                    <img src="../../public/image/slider.png" alt="Slide 3">
                    <div class="info">
                        <p class="ellipsis">中国国际商会理事会会议在北京举行 任洪斌当选中国国际商会会长</p>
                    </div>
                </div>
            </div>
            <div class="prev" href="#">&#10094;</div>
            <div class="next" href="#">&#10095;</div>
            <div class="dots"></div>
        </div>
        <!-- 新闻和Important Activity -->
        <div class="topic">
            <div class="topic-box topic-news">
                <div class="news-title">Press Center</div>
                <div class="topic-line"></div>
                <div class="news-tips">
                    <div class="active" id="national-id">National news</div>
                    <div id="overseas-id">Overseas News</div>
                </div>
                <div class="topic-news-list">
                    <div class="topic-news-list-item">
                        <div class="news-item-left ellipsis">
                            海南省贸促会举办“走出去”海外知识产权典型案例分析
                        </div>
                        <div class="news-item-right">2020-11-13</div>
                    </div>
                    <div class="topic-news-list-item">
                        <div class="news-item-left ellipsis">
                            海南省贸促会举办“走出去”海外知识产权典型案例分析
                        </div>
                        <div class="news-item-right">2020-11-13</div>
                    </div>
                    <div class="topic-news-list-item">
                        <div class="news-item-left ellipsis">
                            海南省贸促会举办“走出去”海外知识产权典型案例分析
                        </div>
                        <div class="news-item-right">2020-11-13</div>
                    </div>
                    <div class="topic-news-list-item">
                        <div class="news-item-left ellipsis">
                            海南省贸促会举办“走出去”海外知识产权典型案例分析
                        </div>
                        <div class="news-item-right">2020-11-13</div>
                    </div>
                    <div class="topic-news-list-item">
                        <div class="news-item-left ellipsis">
                            海南省贸促会举办“走出去”海外知识产权典型案例分析
                        </div>
                        <div class="news-item-right">2020-11-13</div>
                    </div>
                </div>
                <div class="about-more">
                    <a href="./news_center.html">More>></a>
                </div>
            </div>
            <div class="topic-box topic-activity">
                <div class="news-title">Important Activity</div>
                <div class="topic-line"></div>
                <div class="news-tips">
                    <div class="active" id="announcement">Announcement</div>
                    <div id="commercial-activity">Commercial Activity</div>
                </div>
                <div class="topic-news-list">
                    <div class="topic-news-list-item">
                        <div class="news-item-left ellipsis news-item-left-activity">
                            海南省贸促会举办“走出去”海外知识产权典型案例分析
                        </div>
                        <div class="news-item-right">2020-11-13</div>
                    </div>
                    <div class="topic-news-list-item">
                        <div class="news-item-left ellipsis news-item-left-activity">
                            海南省贸促会举办“走出去”海外知识产权典型案例分析
                        </div>
                        <div class="news-item-right">2020-11-13</div>
                    </div>
                    <div class="topic-news-list-item">
                        <div class="news-item-left ellipsis news-item-left-activity">
                            海南省贸促会举办“走出去”海外知识产权典型案例分析
                        </div>
                        <div class="news-item-right">2020-11-13</div>
                    </div>
                    <div class="topic-news-list-item">
                        <div class="news-item-left ellipsis news-item-left-activity">
                            海南省贸促会举办“走出去”海外知识产权典型案例分析
                        </div>
                        <div class="news-item-right">2020-11-13</div>
                    </div>
                    <div class="topic-news-list-item">
                        <div class="news-item-left ellipsis news-item-left-activity">
                            海南省贸促会举办“走出去”海外知识产权典型案例分析
                        </div>
                        <div class="news-item-right">2020-11-13</div>
                    </div>
                </div>
                <div class="about-more">
                    <a href="./news_center_activity.html">More>></a>
                </div>
            </div>
        </div>
        <!-- Yibai joint News -->
        <div class="topic">
            <div class="topic-box important-news">
                <div class="news-title">Yibai joint News</div>
                <div class="topic-line"></div>
                <div class="topic-news-list">
                    <div class="topic-news-list-item">
                        <div class="news-item-left ellipsis">
                            商机60余家中东欧企业寻求贸易投资合作伙伴
                        </div>
                        <div class="news-item-right">2020-11-13</div>
                    </div>
                    <div class="topic-news-list-item">
                        <div class="news-item-left ellipsis">
                            打造世界食品产业前沿思想会客厅 SIAL世界食品产业峰会5月上海举行
                        </div>
                        <div class="news-item-right">2020-11-13</div>
                    </div>
                    <div class="topic-news-list-item">
                        <div class="news-item-left ellipsis">
                            关于邀请参加第十八届中国会展经济国际合作论坛（CEFCO 2023）的函
                        </div>
                        <div class="news-item-right">2020-11-13</div>
                    </div>
                    <div class="topic-news-list-item">
                        <div class="news-item-left ellipsis">
                            邀请涵|法国吸引力介绍会
                        </div>
                        <div class="news-item-right">2020-11-13</div>
                    </div>
                    <div class="topic-news-list-item">
                        <div class="news-item-left ellipsis">
                            欧盟《外国政府补贴条例》实务影响和应对要点研讨会
                        </div>
                        <div class="news-item-right">2020-11-13</div>
                    </div>
                </div>
                <div class="about-more">
                    <a href="./Important_news_center.html">More>></a>
                </div>
            </div>
        </div>
        <!-- Cooperative Institution -->
        <div class="topic">
            <div class="topic-box topic-news">
                <div class="news-title">Cooperative Institution</div>
                <div class="topic-line"></div>
                <div class="mechanism-list">
                    <img src="../../public/image/mechanism_1.png" alt="" srcset="">
                    <img src="../../public/image/mechanism_2.jpg" alt="" srcset="">
                    <img src="../../public/image/mechanism_3.jpg" alt="" srcset="">
                    <img src="../../public/image/mechanism_4.jpg" alt="" srcset="">
                    <img src="../../public/image/mechanism_5.jpg" alt="" srcset="">
                </div>
            </div>
            <div class="topic-box topic-activity">
                <div class="news-title">Focus</div>
                <div class="topic-line"></div>
                <div class="public-box">
                    <div class="public-box-text-box">
                        <img class="public-box-img" src="../../public/image/publicAccount.png" alt="">
                        <div>Public Account</div>
                    </div>
                    <div class="public-line"></div>
                    <div class="public-text">
                        Yi Bai Carefree IM Download
                    </div>
                </div>
            </div>
        </div>
        <!-- About Yibai United -->
        <div class="topic">
            <div class="topic-box important-news">
                <div class="news-title">About Yibai United</div>
                <div class="topic-line"></div>
                <div class="topic-content">
                    <p> 中国国际商会（CCOIC）是1988年经国务院批准成立、由在中国从事国际商事活动的企业、团体和其他组织组成的全国性商会组织，
                        是中国国际贸易促进委员会开展各项工作的重要载体，也是代表中国参与国际商会（ICC）工作的国家商会，在开展与国际商会有关 业务时使用国际商会中国国家委员会（ICC China）名称。</p>
                    <p>
                        中国国际商会实行会员制，主要职责是促进中外经贸交流与合作，代表中国工商界向国际组织和中外政府部门反映利益诉求，参与国 际经贸规则的制定和推广，在企业界积极倡导社会责任与公益事业。

                    </p>
                </div>
                <div class="about-more">
                    <a href="./about_me.html">More>></a>
                </div>
            </div>
        </div>
        <!-- Member -->
        <div class="topic">
            <div class="topic-box important-news">
                <div class="news-title">Member</div>
                <div class="topic-line"></div>
                <div class="topic-news-list">
                    <div class="topic-news-list-item">
                        <div class="news-item-left ellipsis">
                            商机60余家中东欧企业寻求贸易投资合作伙伴
                        </div>
                        <div class="news-item-right">2020-11-13</div>
                    </div>
                    <div class="topic-news-list-item">
                        <div class="news-item-left ellipsis">
                            打造世界食品产业前沿思想会客厅 SIAL世界食品产业峰会5月上海举行
                        </div>
                        <div class="news-item-right">2020-11-13</div>
                    </div>
                    <div class="topic-news-list-item">
                        <div class="news-item-left ellipsis">
                            关于邀请参加第十八届中国会展经济国际合作论坛（CEFCO 2023）的函
                        </div>
                        <div class="news-item-right">2020-11-13</div>
                    </div>
                    <div class="topic-news-list-item">
                        <div class="news-item-left ellipsis">
                            邀请涵|法国吸引力介绍会
                        </div>
                        <div class="news-item-right">2020-11-13</div>
                    </div>
                    <div class="topic-news-list-item">
                        <div class="news-item-left ellipsis">
                            欧盟《外国政府补贴条例》实务影响和应对要点研讨会
                        </div>
                        <div class="news-item-right">2020-11-13</div>
                    </div>
                </div>
                <div class="about-more">
                    <a href="./member_news_center.html">More>></a>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-content width1200">
            <div class="footer-left-box">
                <p>Yi Bai United Association(http://www.ccic.cn/)Beijing ICP 05078712</p>
                <p>Address: International Chamber of Commerce Building, No. 2 Huapichang Hutong, Xicheng District, Beijing</p>
            </div>
            <div class="footer-right-box">
                <img src="../../public/image/qrcode.png" class="qrcode" alt="">
                <p>Yi Bai United Association</p>
            </div>
        </div>
    </footer>
</body>
<script src="../../public/js/jquery-3.7.0.min.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/watchScroll.js"></script>
<script src="../../js/index_slider.js"></script>

</html>