<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>毅佰联合</title>
    <!-- global css -->
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <!-- header css -->
    <link rel="stylesheet" type="text/css" href="../../css/header.css">
    <!-- Press Center css -->
    <link rel="stylesheet" type="text/css" href="../../css/news_center.css">
    <!-- 分页 css -->
    <link rel="stylesheet" type="text/css" href="../../css/pagination.css">
    <!-- footer 底部 css -->
    <link rel="stylesheet" type="text/css" href="../../css/footer.css">
    <!-- english css -->
    <link rel="stylesheet" type="text/css" href="./english_css.css">
</head>

<body>
    <div>
        <header class="header">
            <div class="header-body width1200">
                <a href="./index.html">
                    <img class="header-logo" src="../../public/image/logo.png" alt="" srcset="">
                </a>
                <div class="header-lang-list ">
                    <div class="lang-text">EN</div>
                    <div class="lang-line"></div>
                    <div class="lang-text">简体</div>
                    <div class="lang-line"></div>
                    <div class="lang-text">繁体</div>
                </div>
            </div>
            <div class="news-list-box width1200">
                <div class="news-list">
                    <div class="news-item">
                        <a href="./news_center.html">Press Center</a>
                    </div>
                    <div class="news-item-line"></div>
                    <div class="news-item">
                        <a href="./news_center_activity.html">Important Activity</a>
                    </div>
                    <div class="news-item-line"></div>
                    <div class="news-item">
                        <a href="./Important_news_center.html">Yibai joint News</a>
                    </div>
                    <div class="news-item-line"></div>
                    <div class="news-item">
                        <a href="./cooperative_institution.html">Cooperative Institution</a>
                    </div>
                    <div class="news-item-line"></div>
                    <div class="news-item">
                        <a href="./attention.html">Focus</a>
                    </div>
                    <div class="news-item-line"></div>
                    <div class="news-item">
                        <a href="./member_news_center.html">Member</a>
                    </div>
                    <div class="news-item-line"></div>
                    <div class="news-item">
                        <a href="./about_me.html">About Us</a>
                    </div>
                </div>
            </div>
        </header>
        <main class="main width1200">
            <div class="sidebar">
                <div class="sidebar-title-box">
                    <div class="sidebar-line"></div>
                    <div class="sidebar-title">Important Activity</div>
                    <div class="sidebar-line"></div>
                </div>
                <div class="sidebar-title-item item-active" id="announcement-detail">Announcement</div>
                <div class="sidebar-title-item" id="commercial-activity-detail">Commercial Activity</div>
            </div>
            <div class="high-line"></div>
            <div class="content">
                <div class="content-nav-bar">
                    <div class="first-bar">Current Position: </div>
                    <div class="nav-bar"> <a href="./index.html">Home</a>

                    </div>
                    <div class="arrow">></div>
                    <div class="nav-bar">Important Activity</div>
                    <div class="arrow">></div>
                    <div class="nav-bar" id="last-nav">Announcement</div>
                </div>
                <div class="bottom-line"></div>
                <div class="content-body">
                    <div class="content-body-item">
                        <div class="content-body-title ellipsis">“2023广交会中俄经贸合作论坛暨俄罗斯采购需求发部会"</div>
                        <div class="content-body-time">2023-11-12</div>
                    </div>
                    <div class="content-body-item">
                        <div class="content-body-title ellipsis">“2023广交会中俄经贸合作论坛暨俄罗斯采购需求发部会"</div>
                        <div class="content-body-time">2023-11-12</div>
                    </div>
                    <div class="content-body-item">
                        <div class="content-body-title ellipsis">“2023广交会中俄经贸合作论坛暨俄罗斯采购需求发部会"</div>
                        <div class="content-body-time">2023-11-12</div>
                    </div>
                    <div class="content-body-item">
                        <div class="content-body-title ellipsis">“2023广交会中俄经贸合作论坛暨俄罗斯采购需求发部会"</div>
                        <div class="content-body-time">2023-11-12</div>
                    </div>
                    <div class="content-body-item">
                        <div class="content-body-title ellipsis">“2023广交会中俄经贸合作论坛暨俄罗斯采购需求发部会"</div>
                        <div class="content-body-time">2023-11-12</div>
                    </div>
                    <div class="content-body-item">
                        <div class="content-body-title ellipsis">“2023广交会中俄经贸合作论坛暨俄罗斯采购需求发部会"</div>
                        <div class="content-body-time">2023-11-12</div>
                    </div>
                    <div class="content-body-item">
                        <div class="content-body-title ellipsis">“2023广交会中俄经贸合作论坛暨俄罗斯采购需求发部会"</div>
                        <div class="content-body-time">2023-11-12</div>
                    </div>
                    <div class="content-body-item">
                        <div class="content-body-title ellipsis">“2023广交会中俄经贸合作论坛暨俄罗斯采购需求发部会"</div>
                        <div class="content-body-time">2023-11-12</div>
                    </div>
                    <div class="content-body-item">
                        <div class="content-body-title ellipsis">“2023广交会中俄经贸合作论坛暨俄罗斯采购需求发部会"</div>
                        <div class="content-body-time">2023-11-12</div>
                    </div>
                    <div class="content-body-item">
                        <div class="content-body-title ellipsis">“2023广交会中俄经贸合作论坛暨俄罗斯采购需求发部会"</div>
                        <div class="content-body-time">2023-11-12</div>
                    </div>
                </div>
                <div class="content-pagination">
                    <div class="content-pagination-page">
                        <div class="item active">1</div>
                        <div class="item">2</div>
                        <div class="item">3</div>
                        <div class="item">4</div>
                        <div class="item">5</div>
                        <div class="item">6</div>
                        <div class="item">7</div>
                        <div class="item">8</div>
                        <div class="item">9</div>
                        <div class="item">10</div>
                        <div class="item">11</div>
                        <div class="item">12</div>
                        <div class="item">13</div>
                    </div>
                    <div class="next-page" id="next-page">Next page</div>
                    <div class="next-page" id="last-page">Last Page</div>
                </div>
            </div>
        </main>
    </div>
    <footer class="footer">
        <div class="footer-content width1200">
            <div class="footer-left-box">
                <p>Yi Bai United Association(http://www.ccic.cn/)Beijing ICP 05078712</p>
                <p>Address: International Chamber of Commerce Building, No. 2 Huapichang Hutong, Xicheng District, Beijing</p>
            </div>
            <div class="footer-right-box">
                <img src="../../public/image/qrcode.png" class="qrcode" alt="">
                <p>Yi Bai United Association</p>
            </div>
        </div>
    </footer>
</body>
<script src="../../public/js/jquery-3.7.0.min.js"></script>
<script src="../../js/watchScroll.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/pagination.js"></script>

</html>